<% include("../layouts/header.ejs") %>
<h1>Dashboard</h1>



<table width="50%">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Image</th>
        <th>Verified</th>
    </tr>

    <%
        if(Users.length > 0 ){

            for(let i=0; i<=Users.length; i++){
                %>
                <tr>
                    <td><%= user[i].name %></td> 
                </tr>
               <%
            }

        }else{
            %>
            <tr>
                <td colspan="5">Users Not Found </td>
            </tr>
            <%
        } 
    
    %>

</table>
<br>

<a href="/admin/home">Go to Home</a> 



<% include("../layouts/footer.ejs") %>