<% include("../layouts/header.ejs") %>
<h1>Dashboard</h1>

<p><%- users%></p>

<table width="50%">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Image</th>
        <th>Verified</th>
    </tr>
</table>
<br>

<a href="/admin/home">Go to Home</a> 



<% include("../layouts/footer.ejs") %>