<% include("../layouts/header.ejs") %>

<h1>Welcome, <%= admin.name %></h1>

<table style="width: 50%;">

    <tr></tr>


</table>

<a href="/admin/logout">Logout</a>

<% include("../layouts/footer.ejs") %>