<% include('../layouts/headers.ejs') %>

<h1>Admin Login</h1>

<%

    if(typeof message !== 'undefined'){

        

    }

%>

<form action="" method="post">

    <input type="email"  name="email" placeholder="Enter Email" aria-label="email">
    <br><br>
    <input type="password"  name="password" placeholder="Enter Password" aria-label="password">
    <br><br>
    <input type="submit"  value="Login" aria-label="Login">


</form>
<% include('../layouts/footer.ejs') %>

