<% include('../layouts/headers.ejs') %>

<h1>Admin Login</h1>

<form action="" method="post">

    <input type="email"  name="email" placeholder="Enter Email" aria-label="email">
    
</form>
<% include('../layouts/footer.ejs') %>

