<% include('../layouts/header.ejs') %>

<h1>Add New User </h1>

<form action="" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Enter name" aria-label="name" required>
    <br><br>
    <input type="email" name="email" placeholder="Enter Email" aria-label="email" required>
    <br><br>
    <input type="text" name="mno" placeholder="Enter Mobile" aria-label="mno" required>
    <br><br>
    <input type="file" name="image" aria-label="image" required>
    <br><br>  
    <input type="submit" value="Add User" aria-label="Add User">
    </form>



<% 

   if(typeof message !== 'undefined'){
    %>
    <p style="color: red;"><%= message %></p>
    <%

  }   
%>

<a href=""></a>
<% include('../layouts/footer.ejs') %>

