<% include('../layouts/header.ejs')%>

<h3>bWelcome, <%= user.name %> </h3>

<table>
    <tr>
        <td></td>
    </tr>
</table>

   

<a href="/logout">Logout</a>

<% include('../layouts/footer.ejs')%>