<% include('../layouts/header.ejs')%>

<h2><mark>Welcome, <%= user.name %> </mark></h2>

<table>
    <tr>
        <td><img src="" alt=""></td>
    </tr>
</table>

   

<a href="/logout">Logout</a>

<% include('../layouts/footer.ejs')%>