<% include('../layouts/header.ejs')%>

<h1><b>Welcome, <%= user.name %> </b></h1>

<table>
    <tr>
        <td></td>
    </tr>
</table>

   

<a href="/logout">Logout</a>

<% include('../layouts/footer.ejs')%>