<% include('../layouts/header.ejs')%>

<h3>Welcome </h3>

<table>
    <tr>
        <td></td>
    </tr>
</table>

<%= user.name %>    

<a href="/logout">Logout</a>

<% include('../layouts/footer.ejs')%>