<% include('../layouts/header.ejs') %>

<h1>User Registration Form </h1>

<form action="" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Enter name" aria-label="name" required>
    <br><br>
    <input type="email" name="email" >
</form>
<% include('../layouts/footer.ejs') %>
