<% include('../layouts/header.ejs') %>

<h1>User Registration Form </h1>

<form action="" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
</form>
<% include('../layouts/footer.ejs') %>
