<% include('../layouts/header') %>

<h1>Forget</h1>

<%

if(typeof message !== 'undefined'){
    %>
    <h4><%= message %></h4>
    <%

}

%>

<form action="/fo" method="post"></form>






<% include('../layouts/footer') %>